<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.dict.dao.DictMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.app.dict.entity.Dict">
        <id column="dict_id" property="dictId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="dict_key" property="dictKey" jdbcType="VARCHAR"/>
        <result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
        <result column="dict_comment" property="dictComment" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    dict_id, create_time, create_person, update_time, update_person, version, is_deleted, 
    dict_key, dict_value, dict_comment
  </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
      dict_id, version, dict_key, dict_value, dict_comment
    </sql>

    <!-- 根据key查找字典值 -->
    <select id="selectDictByKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            <include refid="Display_Column_List"/>
        from
            t_dict_info
        where
            dict_key = #{key,jdbcType=VARCHAR}
    </select>

</mapper>