<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.goods.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.app.goods.entity.Goods">
        <id column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_fix_price" property="goodsFixPrice" jdbcType="REAL"/>
        <result column="goods_sale_price" property="goodsSalePrice" jdbcType="REAL"/>
        <result column="goods_stock" property="goodsStock" jdbcType="INTEGER"/>
        <result column="goods_sale_sum" property="goodsSaleSum" jdbcType="INTEGER"/>
        <result column="goods_cate_code" property="goodsCateCode" jdbcType="VARCHAR"/>
        <result column="goods_advertisement" property="goodsAdvertisement" jdbcType="VARCHAR"/>
        <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR"/>
        <result column="goods_condition" property="goodsCondition" jdbcType="INTEGER"/>
        <result column="goods_sale_time" property="goodsSaleTime" jdbcType="TIMESTAMP"/>
        <result column="goods_visit_num" property="goodsVisitNum" jdbcType="INTEGER"/>
        <result column="goods_business" property="goodsBusiness" jdbcType="VARCHAR"/>
        <result column="goods_isbn" property="goodsIsbn" jdbcType="VARCHAR"/>
        <result column="goods_publisher" property="goodsPublisher" jdbcType="VARCHAR"/>
        <result column="goods_author" property="goodsAuthor" jdbcType="VARCHAR"/>
        <result column="goods_star" property="goodsStar" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
      goods_id, create_time, create_person, update_time, update_person, version, is_deleted,
      goods_code, goods_name, goods_fix_price, goods_sale_price, goods_stock,
      goods_sale_sum, goods_cate_code, goods_advertisement, goods_description, goods_condition,
      goods_sale_time, goods_visit_num, goods_business, goods_isbn, goods_publisher, goods_author,
      goods_star
    </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
      goods_id, t_goods_info.version, goods_code, goods_name, goods_fix_price, goods_sale_price, goods_stock,
      goods_sale_sum, goods_cate_code, goods_advertisement, goods_description, goods_condition,
      goods_sale_time, goods_visit_num, goods_business, goods_isbn, goods_publisher, goods_author,
      goods_star
    </sql>

    <!-- 查询商品分类关联查询商品信息关联查询商品图片 -->
    <resultMap id="GoodsCateGoodsImageResultMap" type="com.xzsd.app.goodscate.entity.GoodsCate">
        <id column="goods_cate_id" property="goodsCateId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="cate_name" property="cateName" jdbcType="VARCHAR"/>
        <result column="cate_level" property="cateLevel" jdbcType="INTEGER"/>
        <result column="cate_parent" property="cateParent" jdbcType="VARCHAR"/>
        <result column="cate_comment" property="cateComment" jdbcType="VARCHAR"/>
        <!-- 关联查询商品信息 -->
        <collection property="goodsList" ofType="com.xzsd.app.goods.entity.Goods">
            <id column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
            <result column="goods_sale_price" property="goodsSalePrice" jdbcType="REAL"/>
            <result column="goods_fix_price" property="goodsFixPrice" jdbcType="REAL"/>
            <!-- 关联查询商品图片 -->
            <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 根据商品id查询商品详情关联查询商品图片 -->
    <select id="findGoodsById" parameterType="java.lang.String" resultType="com.xzsd.app.goods.entity.Goods">
        select
        <include refid="Display_Column_List"/>
        , t_image_info.image_url
        FROM
        t_goods_info
        LEFT JOIN t_image_info on t_image_info.image_cate_code = t_goods_info.goods_id and t_image_info.is_deleted = 1
        WHERE
        t_goods_info.is_deleted = 1
        and
        goods_id = #{goodsId}
    </select>

    <!-- 根据一级商品分类编号查询一级分类下所有二级分类的所有商品列表接口 -->
    <select id="listGoodsByGoodsCateCode" parameterType="java.lang.String" resultMap="GoodsCateGoodsImageResultMap">
        SELECT
            t_goods_cate_info.goods_cate_id,
            t_goods_cate_info.cate_name,
            t_goods_info.goods_id,
            t_goods_info.goods_name,
            t_goods_info.goods_sale_price,
            t_goods_info.goods_fix_price,
            t_image_info.image_url
        from
            t_goods_cate_info
        LEFT JOIN t_goods_info on t_goods_cate_info.goods_cate_id = t_goods_info.goods_cate_code and t_goods_info.is_deleted = 1 and t_goods_info.goods_condition = 1
        LEFT JOIN t_image_info on t_image_info.image_cate_code = t_goods_info.goods_id and t_image_info.is_deleted = 1
        where
            t_goods_cate_info.is_deleted = 1
        AND
            t_goods_cate_info.cate_parent = #{goodsCateCode}
        order by t_goods_cate_info.cate_name
    </select>

    <!-- 根据id修改商品信息 -->
    <update id="updateGoodsStockById">
        update
            t_goods_info
        set
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1,
            goods_stock = #{goodsStock}
        where
            goods_id = #{goodsId,jdbcType=VARCHAR}
    </update>

    <!-- 根据商品id列表，查询商品信息列表 -->
    <select id="listGoodsById" resultType="com.xzsd.app.goods.entity.Goods">
        select
        <include refid="Display_Column_List"/>
        from
        t_goods_info
        where
        is_deleted = 1
        and
        goods_id
        in
        <foreach item="goodsId" index="index" collection="listIds" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </select>

    <!-- 根据订单详情里的商品编号和商品数量修改商品库存 -->
    <update id="updateGoodsStockByOrderDetails" parameterType="java.util.ArrayList">
        update t_goods_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goods_stock =(case" suffix="end),">
                <foreach collection="orderDetails" item="orderDetail">
                    <if test="orderDetail.orderDetailGoodsCode != null">
                        when goods_id = #{orderDetail.orderDetailGoodsCode} then goods_stock - #{orderDetail.orderDetailGoodsNum}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            goods_id in
            <foreach collection="orderDetails" item="orderDetail" index="index" open="(" separator="," close=")">
                #{orderDetail.orderDetailGoodsCode}
            </foreach>
        </where>
    </update>

    <!-- 根据商品评价里的商品编号批量更新商品星级 -->
    <update id="updateGoodsStarList" parameterType="java.util.ArrayList">
        update t_goods_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goods_star =(case" suffix="end),">
                <foreach collection="goodsComments" item="goodsComment">
                    <if test="goodsComment.goodsCommentGoodsCode != null">
                        when goods_id = #{goodsComment.goodsCommentGoodsCode}
                        then
                            (SELECT
                                ROUND(AVG(goods_comment_star), 1)
                                from
                                    t_goods_comment
                                where
                                    is_deleted = 1
                                and
                                    goods_comment_star != 0
                                and
                                    goods_comment_goods_code = #{goodsComment.goodsCommentGoodsCode}
                            )
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            goods_id in
            <foreach collection="goodsComments" item="goodsComment" index="index" open="(" separator="," close=")">
                #{goodsComment.goodsCommentGoodsCode}
            </foreach>
        </where>
    </update>

    <!-- 根据订单编号和商品评价里的商品编号修改商品的销量 -->
    <update id="updateGoodsSaleNumList" parameterType="java.util.ArrayList">
        update t_goods_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goods_sale_sum =(case" suffix="end),">
                <foreach collection="goodsComments" item="goodsComment">
                    <if test="goodsComment.goodsCommentGoodsCode != null">
                        when goods_id = #{goodsComment.goodsCommentGoodsCode}
                        then goods_sale_sum + (
                        SELECT
                            order_detail_goods_num
                        from
                            t_order_detail
                        where
                            t_order_detail.order_detail_order_code = #{orderId}
                        and
                            t_order_detail.order_detail_goods_code = #{goodsComment.goodsCommentGoodsCode}
                        )
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            goods_id in
            <foreach collection="goodsComments" item="goodsComment" index="index" open="(" separator="," close=")">
                #{goodsComment.goodsCommentGoodsCode}
            </foreach>
        </where>
    </update>


</mapper>