<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.order.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.app.order.entity.Order">
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_client_code" property="orderClientCode" jdbcType="VARCHAR"/>
        <result column="order_store_code" property="orderStoreCode" jdbcType="VARCHAR"/>
        <result column="order_total_price" property="orderTotalPrice" jdbcType="REAL"/>
        <result column="order_condition" property="orderCondition" jdbcType="INTEGER"/>
        <result column="order_pay_condition" property="orderPayCondition" jdbcType="INTEGER"/>
        <result column="order_pay_time" property="orderPayTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
      order_id, create_time, create_person, update_time, update_person, version, is_deleted,
      order_code, order_client_code, order_store_code, order_total_price, order_condition,
      order_pay_condition, order_pay_time
    </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
      order_id, t_order.version, order_code, order_client_code, order_store_code, order_total_price, order_condition,
      order_pay_condition, order_pay_time
    </sql>

    <!-- 根据订单id查询订单信息 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Display_Column_List"/>
        from
        t_order
        where
        t_order.is_deleted = 1
        and
        order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <!-- 根据订单id修改订单状态 -->
    <update id="updateOrderConditiionById">
        update
            t_order
        set
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1,
            order_condition = #{orderCondition}
        where
            order_id = #{orderId}
    </update>

    <!-- 新增订单信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.app.order.entity.Order">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="orderCode != null">
                order_code,
            </if>
            <if test="orderClientCode != null">
                order_client_code,
            </if>
            <if test="orderStoreCode != null">
                order_store_code,
            </if>
            <if test="orderTotalPrice != null">
                order_total_price,
            </if>
            <if test="orderCondition != null">
                order_condition,
            </if>
            <if test="orderPayCondition != null">
                order_pay_condition,
            </if>
            <if test="orderPayTime != null">
                order_pay_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="orderCode != null">
                #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="orderClientCode != null">
                #{orderClientCode,jdbcType=VARCHAR},
            </if>
            <if test="orderStoreCode != null">
                #{orderStoreCode,jdbcType=VARCHAR},
            </if>
            <if test="orderTotalPrice != null">
                #{orderTotalPrice,jdbcType=REAL},
            </if>
            <if test="orderCondition != null">
                #{orderCondition,jdbcType=INTEGER},
            </if>
            <if test="orderPayCondition != null">
                #{orderPayCondition,jdbcType=INTEGER},
            </if>
            <if test="orderPayTime != null">
                #{orderPayTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>