<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.area.dao.AreaMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.pc.area.entity.Area">
        <id column="area_name_id" property="areaNameId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="area_name_level" property="areaNameLevel" jdbcType="INTEGER"/>
        <result column="area_name_parent_code" property="areaNameParentCode" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    area_name_id, create_time, create_person, update_time, update_person, version, is_deleted,
    area_name, area_name_level, area_name_parent_code
  </sql>
    <!-- 前台展示字段 -->
    <sql id="display_Column_List">
     area_name_id, area_name, area_name_level, area_name_parent_code
    </sql>

    <!-- 省关联查询市关联查询区(县)ResultMap -->
    <resultMap id="ProvinceCityRegionResultMap" type="com.xzsd.pc.area.entity.Area" extends="BaseResultMap">
        <!-- 关联查询市和区（县） -->
        <collection property="childAreaList" ofType="com.xzsd.pc.area.entity.Area"
                    column="area_name_id" select="selectChildAreaList">
            <id column="area_name_id" property="areaNameId" jdbcType="VARCHAR"/>
            <result column="version" property="version" jdbcType="INTEGER"/>
            <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
            <result column="area_name_level" property="areaNameLevel" jdbcType="INTEGER"/>
            <result column="area_name_parent_code" property="areaNameParentCode" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 查询子级区域名称信息，例如省查市级，市查区级 -->
    <select id="selectChildAreaList" parameterType="java.lang.String" resultMap="ProvinceCityRegionResultMap">
        select
            area_name_id,
            area_name,
            area_name_level,
            area_name_parent_code
        from
            t_area_name
        where
            is_deleted = 1
        and
            area_name_parent_code = #{area_name_id,jdbcType=VARCHAR}
    </select>

    <!-- 查询所有区域名称列表 -->
    <select id="listAreas" resultMap="BaseResultMap">
        select
        <include refid="display_Column_List"/>
        from
        t_area_name
        where
        is_deleted = 1
    </select>

    <!-- 根据父级编号查询子区域名称列表，传入null表示查询第一级区域名称 -->
    <select id="listAreasByParentCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="display_Column_List"/>
        from
        t_area_name
        where
        is_deleted = 1
        and
        <choose>
            <when test="areaNameParentCode != null">
                area_name_parent_code = ${areaNameParentCode}
            </when>
            <otherwise>
                area_name_parent_code is NULL
            </otherwise>
        </choose>
    </select>

    <!-- 查询树形区域名称（省包含所有市，市包含所有区（县）） -->
    <select id="listTreeAreas" resultMap="ProvinceCityRegionResultMap">
        SELECT
            area_name_id,
            area_name,
            area_name_level,
            area_name_parent_code
        from
            t_area_name
        where
            is_deleted = 1
        and
            area_name_level = 1
    </select>

</mapper>