<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.ClientMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.pc.user.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="INTEGER"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_mail" property="userMail" jdbcType="VARCHAR"/>
        <result column="user_idcard" property="userIdcard" jdbcType="VARCHAR"/>
        <result column="user_store_id" property="userStoreId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, create_time, create_person, update_time, update_person, version, is_deleted, 
    user_code, user_login_name, user_password, user_role, user_name, user_sex, user_phone, 
    user_mail, user_idcard, user_store_id
  </sql>
    <!-- 客户信息前台展示字段 -->
    <sql id="Display_Column_List">
        user_id, version, user_code, user_login_name, user_role, user_name, user_sex, user_phone,
        user_mail, user_idcard, user_store_id
     </sql>

    <!-- 根据用户信息条件查询用户信息（管理员、店长、司机） -->
    <select id="listClients" parameterType="com.xzsd.pc.user.entity.User" resultMap="BaseResultMap">
        SELECT
            <include refid="Display_Column_List"/>
        FROM
            t_sys_user_info
        WHERE
            is_deleted = 1
        and
            user_role = 4
            <if test="userName != null and userName != ''">
                and user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="userLoginName != null and userLoginName != ''">
                and user_login_name like CONCAT('%', #{userLoginName}, '%')
            </if>
    </select>

    <!-- 根据查询条件（含店长编号）查询门店所有客户信息 -->
    <select id="listStoreClients" parameterType="com.xzsd.pc.user.entity.User" resultMap="BaseResultMap">
        SELECT
            t_sys_user_info.*
        FROM
            t_sys_user_info
        WHERE
            is_deleted = 1
        AND user_role = 4
            <if test="userName != null and userName != ''">
                and user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="userLoginName != null and userLoginName != ''">
                and user_login_name like CONCAT('%', #{userLoginName}, '%')
            </if>
        AND t_sys_user_info.user_store_id = (
            SELECT
                store_id
            FROM
                t_store_info
            WHERE
                t_store_info.store_manager_id = #{userId}
        )
    </select>

</mapper>