<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goodscate.dao.GoodsCateMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.pc.goodscate.entity.GoodsCate">
        <id column="goods_cate_id" property="goodsCateId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="cate_name" property="cateName" jdbcType="VARCHAR"/>
        <result column="cate_level" property="cateLevel" jdbcType="INTEGER"/>
        <result column="cate_parent" property="cateParent" jdbcType="VARCHAR"/>
        <result column="cate_comment" property="cateComment" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        goods_cate_id, create_time, create_person, update_time, update_person, version, is_deleted,
        cate_name, cate_level, cate_parent, cate_comment
    </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
        goods_cate_id, version, cate_name, cate_level, cate_parent, cate_comment
    </sql>

    <!-- 商品分类关联查询子商品分类ResultMap -->
    <resultMap id="GoodsCateSonResultMap" type="com.xzsd.pc.goodscate.entity.GoodsCate" extends="BaseResultMap">
        <!-- 关联查询子商品分类 -->
        <collection property="childGoodsCateList" ofType="com.xzsd.pc.goodscate.entity.GoodsCate"
                    column="goods_cate_id" select="selectChildGoodsCateList">
            <id column="goods_cate_id" property="goodsCateId" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
            <result column="version" property="version" jdbcType="INTEGER"/>
            <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
            <result column="cate_name" property="cateName" jdbcType="VARCHAR"/>
            <result column="cate_level" property="cateLevel" jdbcType="INTEGER"/>
            <result column="cate_parent" property="cateParent" jdbcType="VARCHAR"/>
            <result column="cate_comment" property="cateComment" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 查询子商品分类信息，例如教育分类查询儿童教育 -->
    <select id="selectChildGoodsCateList" parameterType="java.lang.String" resultMap="GoodsCateSonResultMap">
        select
        <include refid="Display_Column_List"/>
        from
        t_goods_cate_info
        where
        is_deleted = 1
        and
        cate_parent = #{goods_cate_id,jdbcType=VARCHAR}
    </select>

    <!-- 根据父级编号查询父级分类是否存在 -->
    <select id="countGoodsCateByCateParent" parameterType="java.lang.String" resultType="int">
        SELECT
            count(*)
        FROM
            t_goods_cate_info
        WHERE
            is_deleted = 1
        and
            goods_cate_id = #{cateParent,jdbcType=VARCHAR}
  </select>

    <!-- 新增商品分类信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.pc.goodscate.entity.GoodsCate">
        insert into t_goods_cate_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsCateId != null">
                goods_cate_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="cateName != null">
                cate_name,
            </if>
            <if test="cateLevel != null">
                cate_level,
            </if>
            <if test="cateParent != null">
                cate_parent,
            </if>
            <if test="cateComment != null">
                cate_comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsCateId != null">
                #{goodsCateId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="cateName != null">
                #{cateName,jdbcType=VARCHAR},
            </if>
            <if test="cateLevel != null">
                #{cateLevel,jdbcType=INTEGER},
            </if>
            <if test="cateParent != null">
                #{cateParent,jdbcType=VARCHAR},
            </if>
            <if test="cateComment != null">
                #{cateComment,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 查询树形商品分类信息（一级分类包含二级分类） -->
    <select id="listTreeGoodsCates" resultMap="GoodsCateSonResultMap">
        SELECT
        <include refid="Display_Column_List"/>
        from
        t_goods_cate_info
        where
        is_deleted = 1
        and
        cate_level = 1
    </select>

    <!-- 根据商品分类id查询商品分类信息 -->
    <select id="findGoodsCateById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Display_Column_List"/>
        from
        t_goods_cate_info
        where
        goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
    </select>

    <!-- 修改商品分类信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xzsd.pc.goodscate.entity.GoodsCate">
        update t_goods_cate_info
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null and createPerson != ''">
                create_person = #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                update_person = #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null and version != ''">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="cateName != null and cateName != ''">
                cate_name = #{cateName,jdbcType=VARCHAR},
            </if>
            <if test="cateLevel != null and cateLevel != ''">
                cate_level = #{cateLevel,jdbcType=INTEGER},
            </if>
            <if test="cateParent != null and cateParent != ''">
                cate_parent = #{cateParent,jdbcType=VARCHAR},
            </if>
            <if test="cateComment != null and cateComment != ''">
                cate_comment = #{cateComment,jdbcType=VARCHAR},
            </if>
        </set>
        where goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
    </update>

    <!-- 根据父级商品分类编号查询该分类下子分类的数量 -->
    <select id="countSonGoodsCateById" parameterType="java.lang.String" resultType="int">
        SELECT
            count(*)
        FROM
            t_goods_cate_info
        WHERE
            is_deleted = 1
        and
            cate_parent = #{goodsCateId,jdbcType=VARCHAR}
    </select>

    <!-- 删除门店信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteGoodsCateById" parameterType="java.lang.String">
        update
            t_goods_cate_info
        set
            is_deleted = 0,
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1
        where
            goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
    </update>

    <!-- 根据父级编号查询子商品分类信息列表，传入null表示查询第一级商品分类信息 -->
    <select id="listGoodsCatesByParentCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Display_Column_List"/>
        from
            t_goods_cate_info
        where
            is_deleted = 1
        and
            <choose>
                <when test="cateParent != null">
                    cate_parent = #{cateParent}
                </when>
                <otherwise>
                    cate_parent is NULL
                </otherwise>
            </choose>
    </select>

    <!-- Mybatis generator自动生成代码 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_goods_cate_info
        where goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_goods_cate_info
    where goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xzsd.pc.goodscate.entity.GoodsCate">
    insert into t_goods_cate_info (goods_cate_id, create_time, create_person, 
      update_time, update_person, version, 
      is_deleted, cate_name, cate_level, 
      cate_parent, cate_comment)
    values (#{goodsCateId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{cateName,jdbcType=VARCHAR}, #{cateLevel,jdbcType=INTEGER}, 
      #{cateParent,jdbcType=VARCHAR}, #{cateComment,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.xzsd.pc.goodscate.entity.GoodsCate">
    update t_goods_cate_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      cate_name = #{cateName,jdbcType=VARCHAR},
      cate_level = #{cateLevel,jdbcType=INTEGER},
      cate_parent = #{cateParent,jdbcType=VARCHAR},
      cate_comment = #{cateComment,jdbcType=VARCHAR}
    where goods_cate_id = #{goodsCateId,jdbcType=VARCHAR}
  </update>
</mapper>