<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goodscomment.dao.GoodsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    <id column="goods_comment_id" property="goodsCommentId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="goods_comment_goods_code" property="goodsCommentGoodsCode" jdbcType="VARCHAR" />
    <result column="goods_comment_client_code" property="goodsCommentClientCode" jdbcType="VARCHAR" />
    <result column="goods_comment" property="goodsComment" jdbcType="VARCHAR" />
    <result column="goods_comment_star" property="goodsCommentStar" jdbcType="INTEGER" />
    <result column="goods_comment_time" property="goodsCommentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_comment_id, create_time, create_person, update_time, update_person, version, 
    is_deleted, goods_comment_goods_code, goods_comment_client_code, goods_comment, goods_comment_star, 
    goods_comment_time
  </sql>



</mapper>