<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goodscomment.dao.GoodsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    <id column="goods_comment_id" property="goodsCommentId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="goods_comment_goods_code" property="goodsCommentGoodsCode" jdbcType="VARCHAR" />
    <result column="goods_comment_client_code" property="goodsCommentClientCode" jdbcType="VARCHAR" />
    <result column="goods_comment" property="goodsComment" jdbcType="VARCHAR" />
    <result column="goods_comment_star" property="goodsCommentStar" jdbcType="INTEGER" />
    <result column="goods_comment_time" property="goodsCommentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_comment_id, create_time, create_person, update_time, update_person, version, 
    is_deleted, goods_comment_goods_code, goods_comment_client_code, goods_comment, goods_comment_star, 
    goods_comment_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_comment
    where goods_comment_id = #{goodsCommentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_goods_comment
    where goods_comment_id = #{goodsCommentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    insert into t_goods_comment (goods_comment_id, create_time, create_person, 
      update_time, update_person, version, 
      is_deleted, goods_comment_goods_code, goods_comment_client_code, 
      goods_comment, goods_comment_star, goods_comment_time
      )
    values (#{goodsCommentId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{goodsCommentGoodsCode,jdbcType=VARCHAR}, #{goodsCommentClientCode,jdbcType=VARCHAR}, 
      #{goodsComment,jdbcType=VARCHAR}, #{goodsCommentStar,jdbcType=INTEGER}, #{goodsCommentTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    insert into t_goods_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsCommentId != null" >
        goods_comment_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="goodsCommentGoodsCode != null" >
        goods_comment_goods_code,
      </if>
      <if test="goodsCommentClientCode != null" >
        goods_comment_client_code,
      </if>
      <if test="goodsComment != null" >
        goods_comment,
      </if>
      <if test="goodsCommentStar != null" >
        goods_comment_star,
      </if>
      <if test="goodsCommentTime != null" >
        goods_comment_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsCommentId != null" >
        #{goodsCommentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentGoodsCode != null" >
        #{goodsCommentGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommentClientCode != null" >
        #{goodsCommentClientCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsComment != null" >
        #{goodsComment,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommentStar != null" >
        #{goodsCommentStar,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentTime != null" >
        #{goodsCommentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    update t_goods_comment
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentGoodsCode != null" >
        goods_comment_goods_code = #{goodsCommentGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommentClientCode != null" >
        goods_comment_client_code = #{goodsCommentClientCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsComment != null" >
        goods_comment = #{goodsComment,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommentStar != null" >
        goods_comment_star = #{goodsCommentStar,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentTime != null" >
        goods_comment_time = #{goodsCommentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_comment_id = #{goodsCommentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzsd.pc.goodscomment.entity.GoodsComment" >
    update t_goods_comment
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      goods_comment_goods_code = #{goodsCommentGoodsCode,jdbcType=VARCHAR},
      goods_comment_client_code = #{goodsCommentClientCode,jdbcType=VARCHAR},
      goods_comment = #{goodsComment,jdbcType=VARCHAR},
      goods_comment_star = #{goodsCommentStar,jdbcType=INTEGER},
      goods_comment_time = #{goodsCommentTime,jdbcType=TIMESTAMP}
    where goods_comment_id = #{goodsCommentId,jdbcType=VARCHAR}
  </update>
</mapper>