<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.image.dao.ImageMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.pc.image.entity.Image">
        <id column="image_id" property="imageId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="image_cate" property="imageCate" jdbcType="INTEGER"/>
        <result column="image_cate_code" property="imageCateCode" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="image_weight" property="imageWeight" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    image_id, create_time, create_person, update_time, update_person, version, is_deleted, 
    image_cate, image_cate_code, image_url, image_weight
  </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
    image_id, version, image_cate, image_cate_code, image_url, image_weight
  </sql>

    <!-- 新增图片信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.pc.image.entity.Image">
        insert into t_image_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageId != null">
                image_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="imageCate != null">
                image_cate,
            </if>
            <if test="imageCateCode != null">
                image_cate_code,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
            <if test="imageWeight != null">
                image_weight,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imageId != null">
                #{imageId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="imageCate != null">
                #{imageCate,jdbcType=INTEGER},
            </if>
            <if test="imageCateCode != null">
                #{imageCateCode,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="imageWeight != null">
                #{imageWeight,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 删除单张图片信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
      update
        t_image_info
      set
        is_deleted = 0,
        update_time = now(),
        update_person = #{updatePersonId},
        version = version + 1
      where
        image_id = #{imageId,jdbcType=VARCHAR}
    </update>

    <!-- 批量删除用户的头像图片信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteImageByUserId" parameterType="java.lang.String">
        update
            t_image_info
        set
            is_deleted = 0,
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1
        where
            image_cate_code
        in
            <foreach item="userId" index="index" collection="listIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
    </update>

    <!-- 根据图片分类编号修改图片信息 -->
    <update id="updateByImageCateCodeSelective" parameterType="com.xzsd.pc.image.entity.Image">
        update t_image_info
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null and createPerson != ''">
                create_person = #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                update_person = #{updatePerson,jdbcType=VARCHAR},
            </if>

            version = version + 1,

            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="imageCate != null and imageCate != ''">
                image_cate = #{imageCate,jdbcType=INTEGER},
            </if>
            <if test="imageCateCode != null and imageCateCode != ''">
                image_cate_code = #{imageCateCode,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="imageWeight != null and imageWeight != ''">
                image_weight = #{imageWeight,jdbcType=INTEGER},
            </if>
        </set>
        where image_cate_code = #{imageCateCode,jdbcType=VARCHAR}
    </update>

    <!-- Mybatis generator自动生成代码 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_image_info
        where image_id = #{imageId,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.xzsd.pc.image.entity.Image">
    insert into t_image_info (image_id, create_time, create_person, 
      update_time, update_person, version, 
      is_deleted, image_cate, image_cate_code, 
      image_url, image_weight)
    values (#{imageId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{imageCate,jdbcType=INTEGER}, #{imageCateCode,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{imageWeight,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.xzsd.pc.image.entity.Image">
    update t_image_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      image_cate = #{imageCate,jdbcType=INTEGER},
      image_cate_code = #{imageCateCode,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      image_weight = #{imageWeight,jdbcType=INTEGER}
    where image_id = #{imageId,jdbcType=VARCHAR}
  </update>
</mapper>