<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.xzsd.pc.user.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="INTEGER"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_mail" property="userMail" jdbcType="VARCHAR"/>
        <result column="user_idcard" property="userIdcard" jdbcType="VARCHAR"/>
        <result column="user_store_id" property="userStoreId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, t_sys_user_info.create_time, t_sys_user_info.create_person, t_sys_user_info.update_time,
    t_sys_user_info.update_person, t_sys_user_info.version, t_sys_user_info.is_deleted,
    user_code, user_login_name, user_password, user_role, user_name, user_sex, user_phone, 
    user_mail, user_idcard, user_store_id
  </sql>
    <!-- 用户信息前台展示字段 -->
    <sql id="Display_Column_List">
    user_id, version, user_code, user_login_name, user_password, user_role, user_name, user_sex, user_phone,
    user_mail, user_idcard, user_store_id
  </sql>

    <!-- 用户关联查询图片信息ResultMap -->
    <resultMap id="UserImageResultMap" type="com.xzsd.pc.user.entity.User" extends="BaseResultMap">
        <association property="image" javaType="com.xzsd.pc.image.entity.Image">
            <id column="image_id" property="imageId" jdbcType="VARCHAR" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
            <result column="version" property="version" jdbcType="INTEGER" />
            <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
            <result column="image_cate" property="imageCate" jdbcType="INTEGER" />
            <result column="image_cate_code" property="imageCateCode" jdbcType="VARCHAR" />
            <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
            <result column="image_weight" property="imageWeight" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <!-- 新增用户信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.pc.user.entity.User">
        insert into t_sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userLoginName != null">
                user_login_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userRole != null">
                user_role,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userMail != null">
                user_mail,
            </if>
            <if test="userIdcard != null">
                user_idcard,
            </if>
            <if test="userStoreId != null">
                user_store_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userLoginName != null">
                #{userLoginName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                #{userRole,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=INTEGER},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userMail != null">
                #{userMail,jdbcType=VARCHAR},
            </if>
            <if test="userIdcard != null">
                #{userIdcard,jdbcType=VARCHAR},
            </if>
            <if test="userStoreId != null">
                #{userStoreId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 根据用户账号信息计算用户数 -->
    <select id="countUserByUserLoginName" parameterType="java.lang.String" resultType="int">
        SELECT
            count(*)
        FROM
            t_sys_user_info
        WHERE
            is_deleted = 1
        and
            user_login_name = #{userLoginName,jdbcType=VARCHAR}
    </select>

    <!-- 根据用户账号计算用户数（排除用户本身） -->
    <select id="countUserByUserLoginNameAndUserId" parameterType="com.xzsd.pc.user.entity.User" resultType="int">
        SELECT
            count(*)
        FROM
            t_sys_user_info
        WHERE
            is_deleted = 1
        and
            user_login_name = #{userLoginName,jdbcType=VARCHAR}
        and
            user_id != #{userId}
    </select>

    <!-- 根据用户信息条件查询用户信息（管理员、店长、司机） -->
    <select id="listUsers" parameterType="com.xzsd.pc.user.entity.User" resultMap="BaseResultMap">
        SELECT
        <include refid="Display_Column_List"/>
        FROM
        t_sys_user_info
        WHERE
        is_deleted = 1
        <if test="userName != null and userName != ''">
            and user_name like CONCAT('%', #{userName}, '%')
        </if>
        <if test="userLoginName != null and userLoginName != ''">
            and user_login_name like CONCAT('%', #{userLoginName}, '%')
        </if>
        <if test="userRole != null and userRole != ''">
            and user_role = #{userRole}
        </if>
    </select>

    <!-- 根据id查询用户信息 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            <include refid="Base_Column_List"/>
        from
            t_sys_user_info
        where
            t_sys_user_info.is_deleted = 1
        and
            user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!-- 根据id修改用户信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xzsd.pc.user.entity.User">
        update t_sys_user_info
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null and createPerson != ''">
                create_person = #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                update_person = #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="version != null and version != ''">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="userCode != null and userCode != ''">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userLoginName != null and userLoginName != ''">
                user_login_name = #{userLoginName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null and userPassword != ''">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null and userSex != ''">
                user_sex = #{userSex,jdbcType=INTEGER},
            </if>
            <if test="userPhone != null and userPhone != ''">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userIdcard != null and userIdcard != ''">
                user_idcard = #{userIdcard,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null and userRole != ''">
                user_role = #{userRole,jdbcType=INTEGER},
            </if>
            <if test="userMail != null and userMail != ''">
                user_mail = #{userMail,jdbcType=VARCHAR},
            </if>
            <if test="userStoreId != null and userStoreId != ''">
                user_store_id = #{userStoreId,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <!-- 删除用户信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteUserById" parameterType="java.lang.String">
        update
            t_sys_user_info
        set
            is_deleted = 0,
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1
        where
            user_id
        in
            <foreach item="userId" index="index" collection="listIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
    </update>

    <!-- 根据id查询用户信息 -->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.User">
        select
            <include refid="Display_Column_List"/>
        from
            t_sys_user_info
        where
            t_sys_user_info.is_deleted = 1
        and
            user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!-- Mybatis generator自动生成代码 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xzsd.pc.user.entity.User">
    insert into t_sys_user_info (user_id, create_time, create_person, 
      update_time, update_person, version, 
      is_deleted, user_code, user_login_name, 
      user_password, user_role, user_name, 
      user_sex, user_phone, user_mail, 
      user_idcard, user_store_id)
    values (#{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{userLoginName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{userMail,jdbcType=VARCHAR}, 
      #{userIdcard,jdbcType=VARCHAR}, #{userStoreId,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.xzsd.pc.user.entity.User">
    update t_sys_user_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      user_code = #{userCode,jdbcType=VARCHAR},
      user_login_name = #{userLoginName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      user_idcard = #{userIdcard,jdbcType=VARCHAR},
      user_store_id = #{userStoreId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>